/*  your css code here. If applicable */
main{
    background-color: white;
    padding: 30px;
}
.Main{
	padding: 20px;
	background-color:#f5f5f5;
    
    
}
.p1,.p2{
    border:1px solid rgb(143, 143, 143);
	padding: 20px;
	background-color:white;
	margin:30px;
   
	
}
h1{padding:10px;
    border:10px;
  }
.para1{
    padding:10px;
    border:10px;
     margin:10px;
	font-style:normal;
        }

.name{
 text-align:right;
 font-style: italic;

}