#grids{
    display: grid;
    width:100vw;
    height: 100vh;
    background-color: grey;
    grid-template-columns: 1fr 4fr;
    grid-template-rows:1fr 8fr 1fr;
  
   
    
}
#a{
    background-color: red;
    grid-column: 1/-1;


}
#b{
    background-color:blue;

}
#c{
    background-color: green;

}
#d{
    background-color: yellow;
    grid-column: 1/-1;

}
