#main{
    background-color: beige;
    width: 100%;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   align-content: ;
   
  
}

.id{
    background-color: dimgray;
    width: 50px;
    padding:30px;
    margin:30px;
    position: sticky;
     top:20px;
   
    
}
.id2{
    width: 50px;
   background-color: red;
   padding: 30px;
   margin: 30px;
   position: sticky;
   top:20px;
  
   
}
.id3{
    width: 50px;
   background-color: blue;
   padding: 30px;
 margin: 30px;
   position: sticky;
   top:20px;
  right:0px;
   
  
  
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />